* { 
margin: auto;
box-sizing: border-box;
background-color: #32a791;
text-align-last: center;
}

#title {  
width: 50%;
border: 3px solid green;
padding: 10px;
border-radius: 10px;
justify-content: space-around;
background: #c4c7ec;

}

#color-palette {
display: flex;
border: 1px solid black;
width: 250px;
height:60px;
border-radius: 10px;
justify-content: space-around;
align-items: center;
margin-top:75px;
background: #c4c7ec;

}
.color { 
border: 1px solid black;
width: 40px;
height:40px;


}

#color-black{
background-color: black;
}


.selected { 
display: inline-flex;
border: 1px solid black;

}

#clear-board {    
font-size: 15px; 
text-align: center;
height: 57px;    
box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.25);
border-radius: 10px;
margin-top: 50px;
background: #c4c7ec;


}

#pixel-board {
display:flex;
width: 250px;
justify-content: space-between;
margin-top: 50px;


}
  
.pixel{   
background-color: white;
border: 1px solid black;
height: 40px;
width: 40px;
margin: 5px;


}

.rodape{
margin-top:75px;
border-radius: 10px;

}
